#product-detail {
    ul {
        li {
            font-weight: bold;
            font-size: 20px;
            list-style: none;
            span {
                font-weight: 400;
            }
        }
    }
}
